*{margin:0;padding: 0;text-decoration: none;list-style: none;box-sizing: border-box;}
body,html{width:100%;height:100%;}
.header{width:100%;height:40px;background: #46D265;text-align: center;line-height:40px;position: relative;
color:#fff;font-size: 20px;}
.header a{position: absolute;left:10px;top:0px;}
.next{background: #F5F5F5;width:100%;height:60px;position: relative;}
.next input{width:80%;margin-left: 10%;padding-left: 30px;margin-top: 10px;height:40px;border-radius: 10px;
border:1px;}
.next .icon{position: absolute;top:22px;left:11%;color:#dcdcdc;}

.main{padding-right:40px;position: relative;}
.side{width:40px;position: absolute;right:0px;top:30px;}
.side li{width:40px;line-height:30px;text-align: center;color:#3BCD68;font-weight: bold;}
.main h4{padding-left:20px;line-height: 40px;background: #CECECE;}
.main .pos{padding-left: 20px;line-height:60px;font-size: 20px;font-weight: bold;}
.con{padding-left: 30px;}
.con p{line-height: 50px;font-size: 20px;font-weight: bold;border-bottom:1px solid #dcdcdc;}
.color{color:#1BD45D!important;}